apiVersion: v1
kind: Namespace
metadata:
  name: media
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-nfs-comics
spec:
  capacity:
    storage: 2Ti
  accessModes:
    - ReadOnlyMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  nfs:
    server: 10.27.27.250
    path: /volume1/comics
    readOnly: true
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-nfs-comics
  namespace: media
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: nfs
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-kavita-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: local-path
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kavita
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kavita
  template:
    metadata:
      labels:
        app: kavita
    spec:
      securityContext:
        fsGroup: 1000
      containers:
      - name: kavita
        image: linuxserver/kavita:latest
        ports:
        - containerPort: 5000
        env:
        - name: TZ
          value: "America/Toronto"
        volumeMounts:
        - name: comics
          mountPath: /comics
          readOnly: true
        - name: config
          mountPath: /config
      volumes:
      - name: comics
        persistentVolumeClaim:
          claimName: pvc-nfs-comics
      - name: config
        persistentVolumeClaim:
          claimName: pvc-kavita-config
---
apiVersion: v1
kind: Service
metadata:
  name: kavita
  namespace: media
spec:
  selector:
    app: kavita
  ports:
  - port: 5000
    targetPort: 5000
  type: NodePort

