apiVersion: apps/v1
kind: Deployment
metadata:
  name: navidrome
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: navidrome
  template:
    metadata:
      labels:
        app: navidrome
    spec:
      securityContext:
        fsGroup: 1000
      containers:
      - name: navidrome
        image: deluan/navidrome:latest
        ports:
        - containerPort: 4533
        env:
        - name: ND_PORT
          value: "4533"
        - name: ND_MUSICFOLDER
          value: "/music"
        - name: ND_DATAFOLDER
          value: "/data"
        volumeMounts:
        - name: music
          mountPath: /music
          readOnly: true
        - name: data
          mountPath: /data
      volumes:
      - name: music
        persistentVolumeClaim:
          claimName: pvc-nfs-music
      - name: data
        persistentVolumeClaim:
          claimName: pvc-navidrome-data
---
apiVersion: v1
kind: Service
metadata:
  name: navidrome
  namespace: media
spec:
  selector:
    app: navidrome
  ports:
  - port: 4533
    targetPort: 4533
  type: NodePort

