apiVersion: v1
kind: ConfigMap
metadata:
  name: smokeping-config
  namespace: monitoring
data:
  Targets: |
    *** Targets ***

    probe = FPing

    menu = Top
    title = SmokePing Latency Graphs

    + Local
    menu = Local Network
    title = Local Network

    ++ Router
    menu = Router
    title = Home Router
    host = 10.27.27.1

    + External
    menu = Internet
    title = External Services

    ++ Google
    menu = Google DNS
    title = Google DNS
    host = 8.8.8.8

    ++ Cloudflare
    menu = Cloudflare
    title = Cloudflare DNS
    host = 1.1.1.1

