apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: smokeping-data
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: smokeping
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: smokeping
  template:
    metadata:
      labels:
        app: smokeping
    spec:
      containers:
      - name: smokeping
        image: linuxserver/smokeping:latest
        ports:
          - containerPort: 80
        volumeMounts:
          - name: smokeping-data
            mountPath: /data
          - name: smokeping-config
            mountPath: /config/Targets
            subPath: Targets            
      volumes:
        - name: smokeping-data
          persistentVolumeClaim:
            claimName: smokeping-data
        - name: smokeping-config
          configMap:
            name: smokeping-config    
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: smokeping-config
  namespace: monitoring
data:
  Targets: |
    *** Targets ***

    probe = FPing

    menu = Top
    title = SmokePing Latency Graphs

    + Local
    menu = Local Network
    title = Local Network

    ++ Router
    menu = Router
    title = Home Router
    host = 10.27.27.1

    + External
    menu = Internet
    title = External Services

    ++ Google
    menu = Google DNS
    title = Google DNS
    host = 8.8.8.8

    ++ Cloudflare
    menu = Cloudflare
    title = Cloudflare DNS
    host = 1.1.1.1


---
apiVersion: v1
kind: Service
metadata:
  name: smokeping
  namespace: monitoring
spec:
  selector:
    app: smokeping
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 32002