apiVersion: apps/v1
kind: Deployment
metadata:
  name: smokeping
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: smokeping
  template:
    metadata:
      labels:
        app: smokeping
    spec:
      containers:
      - name: smokeping
        image: linuxserver/smokeping:latest
        ports:
          - containerPort: 80
        volumeMounts:
          - name: smokeping-data
            mountPath: /data
      volumes:
        - name: smokeping-data
          persistentVolumeClaim:
            claimName: smokeping-data

