apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent-vpn
  namespace: torrent
spec:
  replicas: 0
  selector:
    matchLabels:
      app: qbittorrent-vpn
  template:
    metadata:
      labels:
        app: qbittorrent-vpn
    spec:
      containers:
        - name: gluetun
          image: qmcgaw/gluetun
          ports:
            - name: http-proxy
              containerPort: 8888
              protocol: TCP
            - name: tcp-shadowsocks
              containerPort: 8388
              protocol: TCP
            - name: udp-shadowsocks
              containerPort: 8388
              protocol: UDP
            - name: web-ui-input
              containerPort: 8080
              protocol: TCP
          env:
            - name: VPN_SERVICE_PROVIDER
              value: "private internet access"
            - name: VPN_TYPE
              value: "openvpn"
            - name: OPENVPN_USER
              value: ""
            - name: OPENVPN_PASSWORD
              value: ""
            - name: SERVER_REGIONS
              value: "CA Montreal"
            - name: FIREWALL_INPUT_PORTS
              value: "8080"
          volumeMounts:
            - mountPath: /gluetun
              name: gluetun-config
          securityContext:
            capabilities:
              add: ["NET_ADMIN"]

        - name: qbittorrent
          image: lscr.io/linuxserver/qbittorrent:latest
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "UTC"
            - name: WEBUI_PORT
              value: "8080"
            - name: WEBUI_USERNAME
              value: "admin"
            - name: WEBUI_PASSWORD
              value: "WqCdwkqg4rw3seVJOttzhYYuH54ZALI3"
          volumeMounts:
            - mountPath: /config
              name: qbittorrent-config
            - mountPath: /downloads
              name: qbittorrent-downloads

      volumes:
        - name: gluetun-config
          persistentVolumeClaim:
            claimName: gluetun-config-pvc
        - name: qbittorrent-config
          persistentVolumeClaim:
            claimName: qbittorrent-config-pvc
        - name: qbittorrent-downloads
          persistentVolumeClaim:
            claimName: qbittorrent-nfs-pvc
